.button {
    border-radius:5px;
    color:#FFFFFF;
    width:90px;
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    background: linear-gradient(to bottom right, #C0C0C0 , #888888);
}
.hover{
    background: linear-gradient(to bottom right, #B0B0B0, #787878);
}

.down {
    background: linear-gradient(to bottom right, #686868, #A0A0A0);
}
.pair {
display: inline-block;
margin-right: 30px;
}